h1,
h3 {
  color: white;
}

.play-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button-row {
  display: flex;
}

.guide-container {
  display: flex;
  justify-content: center;
}

.color-square {
  width: 70px;
  height: 70px;
  border: 5px solid lightgray;
}

.color-button {
  flex: 1;
  width: 130px;
  padding: 20px;
  font-weight: bold;
  font-size: 25px;
  border: none;
  background: none;
  outline: none;
}

.color-button:hover {
  flex: 1;
  width: 130px;
  padding: 20px;
  font-weight: bold;
  font-size: 25px;
  border: none;
  background: #595959;
  outline: none;
}

.timer-container {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  /* border-color: #272727; */
}
